#*.pyc
*.aln
*.npy
*.pt
data/*
.tar.gz
*.pkl
*.pyc
*.log
__pycache__/
.DS_Store
.ipynb_checkpoints
*.json
*.wandb
*.npz
*.txt
*.yaml
affinity/HCAT/
*.csv
*.tsv
esm/
HCAT/
*inner_model*
*boltz2*
*alternation*
*.out
run_command
kdbnet/
log/
diffdock/affinity/